<div id="new_chirp">
  <%= render "chirps/form" %>
</div>

<p class="my-4">
  <%= link_to "See what everyone's saying", firehose_path,
      class: "font-bold text-black hover:underline" %>
</p>

<h2 class="text-2xl font-bold mb-4">Timeline</h2>

<%= turbo_stream_from ["timeline", current_user.id] %>

<div class="space-y-4" id="timeline">
  <%= render @timeline %>
</div>
